body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2480 {
  position:absolute;
  left:104px;
  top:17px;
  width:375px;
  height:666px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2481 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2483 {
  position:absolute;
  left:104px;
  top:17px;
  width:375px;
  height:51px;
}
#u2484 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2485 {
  position:absolute;
  left:277px;
  top:43px;
  width:29px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2486 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u2487 {
  position:absolute;
  left:151px;
  top:39px;
  width:10px;
  height:18px;
}
#u2488 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2489 {
  position:absolute;
  left:161px;
  top:78px;
  width:87px;
  height:23px;
  color:#FF0000;
}
#u2490 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u2491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2491 {
  position:absolute;
  left:248px;
  top:78px;
  width:87px;
  height:23px;
}
#u2492 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u2493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2493 {
  position:absolute;
  left:335px;
  top:78px;
  width:87px;
  height:23px;
}
#u2494 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u2495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2495 {
  position:absolute;
  left:277px;
  top:119px;
  width:29px;
  height:15px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2496 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:10px;
}
#u2497 {
  position:absolute;
  left:309px;
  top:121px;
  width:13px;
  height:10px;
}
#u2498 {
  position:absolute;
  left:2px;
  top:-3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:190px;
}
#u2499 {
  position:absolute;
  left:201px;
  top:193px;
  width:182px;
  height:190px;
}
#u2500 {
  position:absolute;
  left:2px;
  top:87px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2501 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2502 {
  position:absolute;
  left:197px;
  top:396px;
  width:57px;
  height:15px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2503 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2504 {
  position:absolute;
  left:331px;
  top:396px;
  width:56px;
  height:15px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2505 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u2506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2506 {
  position:absolute;
  left:197px;
  top:421px;
  width:72px;
  height:29px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2507 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u2508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2508 {
  position:absolute;
  left:331px;
  top:421px;
  width:72px;
  height:29px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2509 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u2510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u2510 {
  position:absolute;
  left:311px;
  top:426px;
  width:18px;
  height:19px;
}
#u2511 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u2512 {
  position:absolute;
  left:177px;
  top:426px;
  width:18px;
  height:19px;
}
#u2513 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2514 {
  position:absolute;
  left:249px;
  top:476px;
  width:85px;
  height:15px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u2515 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:38px;
}
#u2516 {
  position:absolute;
  left:245px;
  top:498px;
  width:93px;
  height:38px;
}
#u2517 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2518 {
  position:absolute;
  left:277px;
  top:566px;
  width:30px;
  height:30px;
}
#u2519 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2520 {
  position:absolute;
  left:392px;
  top:566px;
  width:30px;
  height:30px;
}
#u2521 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2522 {
  position:absolute;
  left:161px;
  top:566px;
  width:30px;
  height:30px;
}
#u2523 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2524 {
  position:absolute;
  left:162px;
  top:606px;
  width:29px;
  height:15px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2525 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2526 {
  position:absolute;
  left:278px;
  top:606px;
  width:29px;
  height:19px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2527 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2528 {
  position:absolute;
  left:393px;
  top:606px;
  width:29px;
  height:19px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2529 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2530 {
  position:absolute;
  left:166px;
  top:625px;
  width:21px;
  height:15px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2531 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2532 {
  position:absolute;
  left:282px;
  top:626px;
  width:21px;
  height:15px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2533 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2534 {
  position:absolute;
  left:397px;
  top:625px;
  width:21px;
  height:15px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2535 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u2536 {
  position:absolute;
  left:579px;
  top:200px;
  width:392px;
  height:218px;
  font-size:18px;
  text-align:left;
}
#u2537 {
  position:absolute;
  left:2px;
  top:43px;
  width:388px;
  word-wrap:break-word;
}
